@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

  

:root{
    --primario: #17ead9;
    --secundario: #6078ea;
    --terciario: #ecedee;
    --cuarto: #000000;
    --margen-cajas: 20px;
    --bordes: 2px solid #555555;
    --radio-bordes: 4px;
}

a{
    text-decoration: none;
}

h1{
    font-family: "Rubik", serif;
    font-size: 67px;
    color: var(--terciario);
    font-weight: 300;
    line-height: 1.15;
}

h2{
    font-family: "Rubik", serif;
    font-size: 25px;
    font-weight: 200;
    color: #374252;
}



ul, li{
    list-style: none;
}


header{
    display: flex;
    flex-direction: row;
    background-color:var(--secundario);
    gap: 10px;
    padding: 10px;
    justify-content: space-around; /* eje x */
    align-items: center; /* eje y */
}

header img#logo{
    height: 30px;
}

header nav li{
    display: inline-block;
    margin-left: 30px;
}

header li a{
    color: var(--terciario);
    font-family: "Rubik", serif;
}

header li a:hover{
color: var(--primario);
}

section#perfil{
    height: auto;
    background: linear-gradient(#6078ea, #17ead9);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    padding-top: 80px;
    color: var(--terciario);
}

section#perfil p{
    line-height: 1.55;
    color: var(--terciario);
    font-weight: 300;
    font-size: 20px;
}

section#perfil .area { 
    width: 800px;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
   }

section#perfil button{
    border: var(--secundario);
    padding: 10px 20px;
    background-color:var(--secundario);
    margin-top: 30px;
    border-radius: var(--radio-bordes);
    color: var(--terciario);
    letter-spacing: 2px;
    cursor: pointer;
    margin-bottom: 170px;
}

section#perfil button:hover{
    background-color:var(--primario);
}


section#servicios{
    background: #ecedee;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 90vh;
}

section#servicios .servicios_1{
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    margin-top: -124px;
    padding: 50px;
    margin-bottom: 30px;
    gap: 30px;
    font-weight: 300;
    font-family: "Rubik", serif;
    line-height: 1.8;
    color: #7e8890;

}

section#servicios .produccion_audiovisual{
    text-align: left;
    height: 60vh;
    width: 25vw;
    background: #fff;
    box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, .1);
    transition: all 400ms ease;
    padding-left: 30px;
    padding-right: 30px;

}

section#servicios .produccion_podcast{
    text-align: left;
    height: 60vh;
    width: 25vw;
    background: #fff;
    box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, .1);
    transition: all 400ms ease;
    padding-left: 30px;
    padding-right: 30px;
  
}

section#servicios .fotografia{
    text-align: left;
    height: 60vh;
    width: 25vw;
    background: #fff;
    box-shadow: 18px 17px 104px -24px rgba(0, 0, 0, .1);
    transition: all 400ms ease;
    padding-left: 30px;
    padding-right: 30px;
 
}

.btn{
border: 1px solid #4963e6;
background:var(--secundario);
color: #fff;
border-radius: 4px;
font-size: 18px;
padding: 20px 100px;
}

.btn:hover{
    background-color:var(--primario);
}


/*
.icon-presentation:before {
    content: "\e00e";
    font-size: 20px;
}


[class^="icon-"], [class*=" icon-"] {
    font-family: 'icon-presentation' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}*/

#impacto_social{
    margin-top: 70px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: "Rubik", serif;
    line-height: 1.8;
    color: #7e8890;
}


.area_items{
    margin-left: 20%;
}

#impacto_social img{
    width: 60%;
    margin-right: 137px;
}

#impacto_social p{
    padding-right: 304px;
}

#valores{
    margin-top: 160px;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-family: "Rubik", serif;
    line-height: 1.8;
    color: #7e8890;
}

.creencias{
    margin-right: 20%;
}


#valores img{
    width: 40%;
    margin-left: 30%;
    margin-top: -6%;
}


section#formulario{
    height: auto;
    background-color: var(--terciario);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
 
}

.datos-personales h2{
    text-align: left;
    margin-top: 30px;
    font-weight: 300;
    font-family: "Rubik", serif;
    line-height: 1.8;
    color: #7e8890;
    
}


.datos-personales p{
    margin-top: 20px;
    color: var(--terciario);
    font-weight: 300;
    font-family: "Rubik", serif;
    line-height: 1.8;
    color: #7e8890;
}

.datos-personales{
    margin-left: 150px;
}

#imagen-dani img{
    width: 500px;
    margin-right: 109px;
    margin-top: 344px;
    translate: 0 133px;
}

.form{
    margin-top: 30px;
}

.form input{
    padding: 15px;
}

 .form input, .form textarea{
     display: flex;
     width:50%;
     line-height: 28px;
     border:2px solid var(--secundario);
     border-radius: var(--radio-bordes);
 }


 label{
    font-family: "Rubik", serif;
    font-size: 14px;
    color:  #7e8890;
 }

 textarea{
    translate:  0% 10%;
 }
 
 .form textarea{
     min-height: 200px;
     padding: 21px;
 }
 

.form input{
    translate:  0% 44%;
 }

 .form .cta-a{
    border: 1px solid #4963e6;
    background: var(--secundario);
    color: #fff;
    border-radius: 4px;
    font-size: 18px;
    padding: 20px 100px;
}
 

.form .cta-a:hover{
    background-color:var(--primario);
}

.area_footer{
    height: auto;
    background: var(--secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 }


.redes-sociales{
    margin-top: 41px;
}

.redes-sociales ul{
     display: flex;
     justify-content: center;
}

.social-logo{
    width: 150px;
    padding: 35px;
    transition: all 400ms ease;
}

.social-logo:hover{
    transform: translateY(-4%);
}

.footer-creds{
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

.creditos .footer-creds p{
    font-size: 20px;
    color: var(--terciario);
}


#wsp{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 30px;
    right: 30px;
    text-align: center;
    z-index: 100;
    transition: all 300ms ease;
}

#wsp:hover{
    transform: translateY(-10%);
}
